.card{
    background-color: #04101d;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    border: 1px solid white;
    border-radius: 16px;
    box-shadow: 1px 1px 20px rgb(1, 11, 28);
    padding: 10px;
    margin: 20px auto ;
}

.title-card {
    text-align: center;
    margin-top: 20px;
    font-size: 2.0rem;
}

.card hr {
    margin: 20px;
}

.card p {
    text-align: center;
    font-size: 1.5rem;
}